<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="../uploads/icon-ag.svg" type="image/x-icon">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/adm.css">
</head>
<body>
    <div class="topo-logo">
        <a href="../">
            <h1>ArtGallery</h1>
            <p>Administrativo</p>
        </a>
    </div>

    <section>
        <div class="conteudo">
            <div class="resumo">

                <!-- Usuários -->
                <div class="resumo-card">
                    <div class="r-c-tit">
                        <h1>USUÁRIOS</h1>
                    </div>
                    <div class="r-c-desc">
                        <div class="r-c-desc-linha traco-inferior">
                            <a href="/adm/usuarios/apreciadores">APRECIADORES</a>
                            <span><%= qtdApreciadores %></span>
                        </div>
                        <div class="r-c-desc-linha traco-inferior">
                            <a href="/adm/usuarios/artistas/ativos">ARTISTAS ATIVOS</a>
                            <span><%= qtdArtistas %></span>
                        </div>
                        <div class="r-c-desc-linha traco-inferior">
                            <a href="/adm/usuarios/artistas/liberados">ARTISTAS LIBERADOS</a>
                            <span><%= qtdArtistasLiberados %></span>
                        </div>
                        <div class="r-c-desc-linha traco-inferior">
                            <a href="/adm/usuarios/artistas/pendentes">ARTISTAS P/ LIBERAÇÃO</a>
                            <span><%= qtdArtistasAguardandoLiberacao %></span>
                        </div>
                        <div class="r-c-desc-linha traco-inferior">
                            <a href="/adm/usuarios/administradores">ADMINISTRADORES</a>
                            <span><%= qtdAdm %></span>
                        </div>
                        <div class="r-c-desc-linha traco-inferior">
                            <a href="/adm/usuarios/banidos">BANIDOS</a>
                            <span><%= qtdBan %></span>  
                        </div>
                        <div class="r-c-desc-linha traco-inferior">
                            <a href="/adm/usuarios">TOTAIS</a>
                            <span><%= totalUsuarios %></span>
                        </div>
                    </div>
                    <div class="r-c-obs">
                        (SELECIONE UMA OPÇÃO SUBLINHADA PARA LISTAR) 
                    </div>
                </div>

                <!-- Obras -->
                <div class="resumo-card">
                    <div class="r-c-tit">
                        <h1>OBRAS (PARÂMETROS)</h1>
                    </div>
                    <div class="r-c-desc">
                        <div class="r-c-desc-linha">
                            <a href="/adm/obras">PUBLICADAS (ARTISTAS)</a>
                            <span>0</span>
                        </div>
                        <div class="r-c-desc-linha">
                            <a href="/adm/obras/favoritos">FAVORITOS (APRECIADORES)</a>
                            <span>0</span>
                        </div>
                        <div class="r-c-desc-linha">
                            <a href="/adm/obras/comentarios">COMNENTÁRIOS (APRECIADORES)</a>
                            <span>0</span>
                        </div>
                        <div class="r-c-desc-linha">
                            <a href="/adm/obras/colecoes">COLEÇÕES (APRECIADORES)</a>
                            <span>0</span>
                        </div>
                        <div class="r-c-desc-linha traco-inferior">
                            <a href="/adm/obras/categorias">CATEGORIAS</a>
                            <span>0</span>
                        </div>
                    </div>
                    <div class="r-c-obs">
                        (SELECIONE UMA OPÇÃO SUBLINHADA PARA LISTAR)
                    </div>
                </div>

                <!-- SUPORTE -->
                <div class="resumo-card">
                    <div class="r-c-tit">
                        <h1>SUPORTE</h1>
                    </div>
                    <div class="r-c-desc">
                        <div class="r-c-desc-linha traco-inferior">
                            <a href="/adm/suporte/pendentes">PENDENTES</a>
                            <span>0</span>
                        </div>
                        <div class="r-c-desc-linha traco-inferior">
                            <a href="/adm/suporte/andamento">EM ANDAMENTO</a>
                            <span>0</span>
                        </div>
                        <div class="r-c-desc-linha traco-inferior">
                            <a href="/adm/suporte/concluidos">CONCLUÍDOS</a>
                            <span>0</span>
                        </div>
                        <div class="r-c-desc-linha traco-inferior">
                            <a href="/adm/suporte">TODOS OS REPORTES</a>
                            <span>0</span>
                        </div>
                    </div>
                    <div class="r-c-obs">
                        (SELECIONE UMA OPÇÃO SUBLINHADA PARA LISTAR)
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="conteudo">
            <div class="cadastros">
                <div class="cadastros-tit">
                    <h1>CADASTROS ADICIONAIS</h1>
                </div>
                <div class="cadastros-botoes">
                    <div class="cadastro-btn">
                        <a href="/adm/cadastrar/usuario" class="btn-cadastro">CADASTRAR NOVO USUARIO</a>
                    </div>
                    <div class="cadastro-btn">
                        <a href="/adm/cadastrar/categoria" class="btn-cadastro">CADASTRAR NOVA CATEGORIA</a>
                    </div>
                    <div class="cadastro-btn">
                        <a href="/adm/cadastrar/artista" class="btn-cadastro">CADASTRAR NOVO ARTISTA</a>
                    </div>
                    <div class="cadastro-btn">
                        <a href="/adm/cadastrar/obra" class="btn-cadastro">CADASTRAR NOVA OBRA</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>