<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" href="/uploads/icon-ag.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/adm.css" />
  </head>
  <body>
    <div class="topo-logo">
      <a href="../">
        <h1>ArtGallery</h1>
        <p>Administrativo</p>
      </a>
    </div>

    <section>
      <div class="tabela">
        <table>
          <thead>
            <tr>
              <th class="col-a">ID</th>
              <th class="col-b">Usuário</th>
              <th class="col-a">Nome</th>
              <th class="col-b">Email</th>
              <th class="col-a">Foto</th>
              <th class="col-b">Tipo</th>
              <th class="col-a">Advertência</th>
              <th class="col-b">Banido</th>
              <th class="col-a">Ações</th>
            </tr>
          </thead>
          <tbody>
            <% usuarios.forEach((u) => { %>
            <tr>
              <td class="col-a"><%= u.id %></td>
              <td class="col-b"><%= u.usu %></td>
              <td class="col-a"><%= u.nome %></td>
              <td class="col-b"><%= u.email %></td>
              <td class="col-a">
                <img src="<%= u.foto %>" alt="<%= u.nome %>" />
              </td>
              <td class="col-b"><%= u.tipo %></td>
              <td class="col-a"><%= u.adv %></td>
              <td class="col-b"><%= u.ban %></td>
              <td class="col-a">
                <div class="acoes">
                  <a
                    class="btn-qua"
                    id="padrao"
                    href="/adm/usuarios/editar/<%= u.id %>"
                    >🖉</a
                  >
                  <a
                    class="btn-qua"
                    id="erro"
                    href="/adm/usuarios/excluir/<%= u.id %>"
                    >X</a
                  >
                </div>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </section>

    <section>
      <a href="/adm/" class="votlar" style="color: #fff">Voltar ao Dashboard</a>
    </section>
    <br />
  </body>
</html>
