<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><%= title %></title>
   <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
   <div class="topo-logo">
      <h1>ArtGallery</h1>
   </div>

   <div class="formulario">
      <div class="topo-formulario">
         <h1>Entrar Em Uma Conta</h1>
         <p>Insira seu e-mail e senha para entrar em sua conta:</p>
      </div>
      
      <% if (sucesso) { %>
         <div class="sucesso">
            <h2><%= sucessoTit %></h2>
            <p><%= sucessoSub %></p>
            <div class="sucesso-container">
               <%= sucesso %>
            </div>
         </div>
         <script>
            setTimeout(() => { 
               window.location.href = "/sucesso"; // Corrigido para ir à página sucesso.ejs
            }, 5000);
         </script>
      <% } %>

      <form action="/index" method="post">
         <div class="entrada">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" placeholder="email@dominio.com" required>
            <% if (erros.email) { %> <p class="erro"><%= erros.email %></p> <% } %>
         </div>

         <div class="entrada">
            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" placeholder="Senha" required>
            <% if (erros.senha) { %> <p class="erro"><%= erros.senha %></p> <% } %>
            <p>Esqueceu a senha? <a href="#">Recuperar sua conta</a></p>
         </div>

         <div class="envio">
            <input type="submit" value="Entrar Agora">
         </div>
      </form>

      <div class="fim-formulario">
         <p>Não possui uma conta? <a href="/">Cadastre-se agora!</a></p>
      </div>

      <div class="voltar">
         <a href="/">
            <div></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
               <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
            </svg>
            <i>Voltar</i>
         </a>
      </div>
   </div>
</body>
</html>
